{% extends "base.html" %}
{% load static %}

{% block about_link %}
    <link  rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">
{% endblock %}

{% block content %}
<main>
    <div class="article">
        <h1>{{ article.title }}</h1>
        <div id="intro">
            <p>{{ article.intro }}</p>
        </div>
        <section id="motivation">
            <h2>Motivation</h2>
            <p>{{ article.motivation }}</p>
        </section>
        <section class="model_container" id="model">
            <h2>Model</h2>
            <p>{{ article.model }}</p>
            <section id="model-nas">
                <h3>Neural Architecture Search</h3>
                <p>{{ article.nas }}</p>
            </section>
            <section id="model-asaga">
                <h3>Algorithm</h3>
                <p>{{ article.algorithm }}</p>
            </section>
            <section id="model-architecture">
                <h3>Architecture</h3>
                <p>{{ article.architecture }}</p>
            </section>
        </section>
        <section id="dataset">
            <h2>Dataset</h2>
            <p>{{ article.dataset }}</p>
        </section>

    </div>
    <nav class="section-nav">
        <ol>
            <li><a href="#intro">Introduction</a></li>
            <li><a href="#motivation">Motivation</a></li>
            <li><a href="#model">Model</a>
                <ul>
                    <li class=""><a href="#model-nas">Neural Architecture Search</a></li>
                    <li class=""><a href="#model-asaga">Algorithm</a></li>
                    <li class=""><a href='#model-architecture'>Architecture</a></li>
                </ul>
            </li>
            <li><a href="#dataset">Dataset</a></li>
        </ol>
    </nav>
</main>
{% endblock %}

{% block js %}<script src="{% static 'js/about.js' %}">{% endblock %}