{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>SAGAON DEMO</title>
        <!--style.css-->
        <link  rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
        {% block map_link %}{% endblock %}
        {% block home_link %}{% endblock %}
    </head>
    <body>
        <nav >
            <a href="{% url 'home'%}">Home</a>
            <a href="#Services">About</a>
            <a href="{% url 'demo'%}">Demo</a>
            <a href="#About">Contact</a>
        </nav>
        {% block content %}{% endblock %}
    </body>
</html>