{% extends "base.html" %}
{% load static %}

{% block contact_link %}
    <link  rel="stylesheet" type="text/css" href="{% static 'css/contact.css' %}">
{% endblock %}

{% block content %}
<main>
    <div class="card-list">

        <div class="card">
            <div class="card-image">
                <img src="{% static 'img/bohan.jpg'%}" alt="bo-han chen">
            </div>
            <div class="card-body">
                <span class="date">AUTHOR</span>
                <h2>Bo-Han Chang</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate quaerat quasi repudiandae sed
                    debitis ad numquam aliquid quos rem delectus doloremque, eos quia. Harum, minus?</p>
            </div>
            <div class="card-footer">
                <div class="info">

                </div>
                <div class="info">

                </div>
                <div class="info">
                    <img src="{% static 'img/gmail.png'%}">
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-image">
                <img src="{% static 'img/yunye.jpg'%}" alt="yun-ye tsai">
            </div>
            <div class="card-body">
                <span class="date">AUTHOR</span>
                <h2>Yun-Ye Tsai</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate quaerat quasi repudiandae sed
                    debitis ad numquam aliquid quos rem delectus doloremque, eos quia. Harum, minus?</p>
            </div>
            <div class="card-footer">
                <div class="info">
                </div>
                <div class="info">
                </div>
                <div class="info">
                    <img src="{% static 'img/gmail.png'%}">
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-image">
                <img src="{% static 'img/joey.png'%}" alt="chao-yen huang">
            </div>
            <div class="card-body">
                <span class="date">AUTHOR</span>
                <h2>Chao-Yen Huang</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate quaerat quasi repudiandae sed
                    debitis ad numquam aliquid quos rem delectus doloremque, eos quia. Harum, minus?</p>
            </div>
            <div class="card-footer">
                <div class="info">
                    <a href="https://github.com/chaoyen199611"><img src="{% static 'img/github.png'%}"></a>
                </div>
                <div class="info">
                    <a href="https://www.linkedin.com/in/chao-yen-huang-9b7357189/1"><img src="{% static 'img/linkedin.png'%}"></a>
                </div>
                <div class="info">
                    <img src="{% static 'img/gmail.png'%}">
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-image">
                <img src="{% static 'img/teacher.jpg'%}" alt="chun-wei tsai">
            </div>
            <div class="card-body">
                <span class="date">SUPERVISOR</span>
                <h2>Chun-Wei Tsai</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate quaerat quasi repudiandae sed
                    debitis ad numquam aliquid quos rem delectus doloremque, eos quia. Harum, minus?</p>
            </div>
            <div class="card-footer">
                <div class="info">
                </div>
                <div class="info">
                    <a href="https://sites.google.com/site/cwtsai0807/chun-wei-tsai"><img src="{% static 'img/scholar.png'%}"></a>
                </div>
                <div class="info">
                    <img src="{% static 'img/gmail.png'%}">
                </div>
            </div>
        </div>



    </div>

</main>
{% endblock %}