{% extends "base.html" %}
{% load static %}

{% block map_link %}
<link  rel="stylesheet" type="text/css" href="{% static 'css/map.css' %}">
{% endblock %}
{% block content %}
<div class="container-map-weather">
    <div id="map"></div>
    <div class="weather">
        <div class ="clip-mask">
            <div id="fair-clip"></div>
            <div id="pc-clip"></div>
            <div id="mc-clip"></div>
            <div id="c-clip"></div>
            <div id="r-clip"></div>
            <div id="storm-clip"></div>
        </div>  
        <div class="info">
            <div id="time"></div>
            <div class="info-box">
                <div class="title">Type<br>Temperature<br>Dew Point<br>Humidity<br>Wind Speed<br>Wind Gust<br>Pressure<br>Precipitation:
                </div>
                <div class="data">
                    <div id="type"></div>      
                    <div id="temperature"></div>
                    <div id="dew_point"></div>
                    <div id="humidity"></div>
                    <div id="wind_speed"></div>
                    <div id="wind_gust"></div>
                    <div id="pressure"></div>
                    <div id="precipitation"></div>
                </div>
            </div>       
        </div> 
        <div class="chartbox">
            <div class="chartcanvas">
                <canvas id="myChart"></canvas>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    var markers=[]
    var locations=[];
    var infowindows=[];
    function accuracy(ts,te,ps,pe){
        return (Math.abs(ts-ps)+Math.abs(te-pe))/(ts+te);
    }
    
    

    const labels = [
        '00',
        '01',
        '02',
        '03',
        '04',
        '05',
        '06',
        '07',
        '08',
        '09',
        '10',
        '11',
        '12',
        '13',
        '14',
        '15',
        '16',
        '17',
        '18',
        '19',
        '20',
        '21',
        '22',
        '23',
    ];

    const data = {
        labels: labels,
        datasets: [{
        label: 'Temperature',
        backgroundColor: 'rgb(255, 99, 132)',
        borderColor: 'rgb(255, 99, 132)',
        data: [],
        }]
    };

    const config = {
        type: 'line',
        data: data,
        options: {
            plugins:{
                legend:{
                    labels:{
                        font:{
                            size: 20,
                            family: "'Poppins',sans-serif"
                        }
                    }
                }
            }
        }
    };
    Chart.defaults.color = "#ffffff";
    const myChart = new Chart(
        document.getElementById('myChart'),
        config
    );

    function addData(chart, data) {
        chart.data.datasets.forEach((dataset) => {
            dataset.data.push(data);
        });
        chart.update();
    }
    
    function removeData(chart) {
        for(var n=0;n<24;n++){
            chart.data.datasets[0].data.pop();
        }
        chart.update();
    }
    
    function initMap(){
        {% for station in stations %}
            locations.push({name: "{{ station.name }}", latlng: new google.maps.LatLng( {{ station.lat }}, {{ station.lng }}) });
            //var uluru = { lat: {{ station.lat }}, lng: {{ station.lng }} };
        {% endfor %}
        var trips=[];
        {% for i in tripdatas %}
            trips.push({time: "{{ i.time }}", true_start:"{{i.true_start}}",true_end:"{{i.true_end}}",pred_start:"{{i.pred_start}}",pred_end:"{{i.pred_end}}"});
        {% endfor %}
        
        var options = {
            zoom:14,
            center:{lat:40.7306,lng:-74}
        }

        const map=new google.maps.Map(document.getElementById('map'),options);
        const unsafe = {
            url:"{% static 'img/unsafe.gif' %}",
            scaledSize: new google.maps.Size(40,40),
            labelOrigin: new google.maps.Point(20, 0),
        };
        const medium = {
            url:"{% static 'img/medium.gif' %}",
            scaledSize: new google.maps.Size(40,40),
            labelOrigin: new google.maps.Point(20, 0),
        };
        const safe = {
            url:"{% static 'img/safe.gif' %}",
            scaledSize: new google.maps.Size(40,40),
            labelOrigin: new google.maps.Point(20, 0),
        };
        var marker;
        for(var j=0; j<locations.length; j++){
            marker=new google.maps.Marker({
                position:locations[j].latlng,
                map,
                title:locations[j].name,
                icon : safe,
                label: {color: '#000', 
                        fontSize: '12px', 
                        fontWeight: '600',
                        text: trips[j].pred_start+"/"+trips[j].true_start,
                        className: "map-label"
                }
            })
            if(accuracy(trips[j].true_start,trips[j].true_end,trips[j].pred_start,trips[j].pred_end)>0.2)
                marker.setIcon(unsafe);
            else if(accuracy(trips[j].true_start,trips[j].true_end,trips[j].pred_start,trips[j].pred_end)<0.06)
                marker.setIcon(safe);
            else
                marker.setIcon(medium);
            var contentString=
                '<div id="content">' +
                '<h1 id="firstHeading" class="firstHeading">'+locations[j].name+'</h1>' +
                '<div id="bodyContent">' +
                '<p>station latlng:'+locations[j].latlng+'</p>'+
                '<p>station pred_start:'+trips[j].pred_start+'</p>'+
                '<p>station true_start:'+trips[j].true_start+'</p>'+
                '<p>station pred_end:'+trips[j].pred_end+'</p>'+
                '<p>station true_end:'+trips[j].true_end+'</p>'+
                "</div>" +
                "</div>";

            var infowindow = new google.maps.InfoWindow({
                content: contentString,
            });
            
            google.maps.event.addListener(marker, 'click', (function(marker, j) {
                return function() {
                    infowindow.setContent(contentString);
                    infowindow.open(map, marker);
                }
           })(marker, j));
           infowindows.push(infowindow);
           markers.push(marker);
        }
    }
    var wa=[]
    var fair = document.getElementById("fair-clip"); 
    var mc = document.getElementById("mc-clip");
    var pc = document.getElementById("pc-clip");
    var c = document.getElementById("c-clip");
    var rain = document.getElementById("r-clip");
    var storm = document.getElementById("storm-clip");
    
    fair.innerHTML = '<video width="100%"  autoplay muted loop><source src="{% static 'clips/Fair.mp4' %}" type="video/mp4"></video>';
    mc.innerHTML = '<video width="100%"  autoplay muted loop><source src="{% static 'clips/mostlycloudy.mp4' %}" type="video/mp4"></video>';
    pc.innerHTML = '<video width="100%"  autoplay muted loop><source src="{% static 'clips/partlycloudy.mp4' %}" type="video/mp4"></video>';
    c.innerHTML = '<video width="100%"  autoplay muted loop><source src="{% static 'clips/cloudy.mp4' %}" type="video/mp4"></video>';
    rain.innerHTML = '<video width="100%"  autoplay muted loop><source src="{% static 'clips/lightrain.mp4' %}" type="video/mp4"></video>';
    storm.innerHTML = '<video width="100%"  autoplay muted loop><source src="{% static 'clips/storm.mp4' %}" type="video/mp4"></video>';
    
    fair.style.display="none";
    mc.style.display="none";
    pc.style.display="none";
    c.style.display="none";
    rain.style.display="none";
    storm.style.display="none";

    function initWeather(){
        
        {% for weather in weathers %}
            wa.push({type: "{{ weather.type }}", temperature: "{{ weather.temperature}}",dew_point:"{{weather.dew_point}}",humidity:"{{weather.humidity}}",wind_speed:"{{weather.wind_speed}}",wind_gust:"{{weather.wind_gust}}",pressure:"{{weather.pressure}}",precipitation:"{{weather.precipitation}}",time:"{{weather.time}}"});
        {% endfor %}

        

        document.getElementById("type").innerHTML=wa[0].type;
        document.getElementById("temperature").innerHTML = wa[0].temperature;
        document.getElementById("dew_point").innerHTML = wa[0].dew_point;
        document.getElementById("humidity").innerHTML = wa[0].humidity;
        document.getElementById("wind_speed").innerHTML = wa[0].wind_speed;
        document.getElementById("wind_gust").innerHTML = wa[0].wind_gust;
        document.getElementById("pressure").innerHTML = wa[0].pressure;
        document.getElementById("precipitation").innerHTML = wa[0].precipitation;
        document.getElementById("time").innerHTML = wa[0].time;
        fair.style.display='block';

        
        
    }
    initWeather();

    
    var i = 1;                  //  set your counter to 1

    function addMinutes(time, minsToAdd) {
        function D(J){ return (J<10? '0':'') + J;};
        var piece = time.split(':');
        var mins = piece[0]*60 + +piece[1] + +minsToAdd;
      
        return D(mins%(24*60)/60 | 0) + ':' + D(mins%60);  
    } 
    var hourcount=2;
    var curTime = new Date("2020-08-20 10:00");
    addData(myChart,0);
    addData(myChart,0);
    function myLoop(){         //  create a loop function
    setTimeout(function() {   //  call a 3s setTimeout when the loop is called
        hourcount++;
        console.log(myChart);
        if(hourcount>=24){
            removeData(myChart);
            addData(myChart,wa[i].temperature);
            hourcount=0;
        }
        else{
            addData(myChart,wa[i].temperature)
        }
        console.log(hourcount);
        
        document.getElementById("type").innerHTML = wa[i].type;
        document.getElementById("temperature").innerHTML = wa[i].temperature;
        document.getElementById("dew_point").innerHTML = wa[i].dew_point;
        document.getElementById("humidity").innerHTML = wa[i].humidity;
        document.getElementById("wind_speed").innerHTML = wa[i].wind_speed;
        document.getElementById("wind_gust").innerHTML = wa[i].wind_gust;
        document.getElementById("pressure").innerHTML = wa[i].pressure;
        document.getElementById("precipitation").innerHTML = wa[i].precipitation;
        document.getElementById("time").innerHTML = wa[i].time;

        fair.style.display="none";
        mc.style.display="none";
        pc.style.display="none";
        c.style.display="none";
        rain.style.display="none";
        storm.style.display="none";
        if(wa[i].type=='Fair')
            fair.style.display='block';
        else if(wa[i].type=='MostlyCloudy')
            mc.style.display='block';
        else if(wa[i].type=='PartlyCloudy')
            pc.style.display='block';
        else if(wa[i].type=='Cloudy')
            c.style.display='block';
        else if(wa[i].type=='LightDrizzle'||wa[i].type=='LightRain'||wa[i].type=='Rain')
            rain.style.display="block";
        else
            storm.style.display="block";

        var strDate = curTime.toISOString().slice(0,19).replace('T',' ');
        var newtrips=[];

        const unsafe = {
            url:"{% static 'img/unsafe.gif' %}",
            scaledSize: new google.maps.Size(40,40),
            labelOrigin: new google.maps.Point(20, 0),
        };
        const medium = {
            url:"{% static 'img/medium.gif' %}",
            scaledSize: new google.maps.Size(40,40),
            labelOrigin: new google.maps.Point(20, 0),
        };
        const safe = {
            url:"{% static 'img/safe.gif' %}",
            scaledSize: new google.maps.Size(40,40),
            labelOrigin: new google.maps.Point(20, 0),
        };
        $.ajax({
            type:"GET",
            url:"{% url 'demo' %}",
            data : {
                "time": strDate
            },
            dataType: 'json',
            success:function(response){
                
                var rep = JSON.parse(response);
                $.each(rep, function(m, item){
                    var ps = item.fields.pred_start
                    var cut = item.fields.time
                    
                    newtrips.push({curtime: cut, true_start:item.fields.true_start,true_end:item.fields.true_end,pred_start:ps,pred_end:item.fields.pred_end,id:item.fields.station_id});
                });

                for(var k=0; k<markers.length; k++)   {  
                    
                    var contentString=
                    '<div id="content">' +
                    '<h1 id="firstHeading" class="firstHeading">'+locations[k].name+'</h1>' +
                    '<div id="bodyContent">' +
                    '<p>station latlng:'+locations[k].latlng+'</p>'+
                    '<p>station pred_start:'+newtrips[k].pred_start+'</p>'+
                    '<p>station true_start:'+newtrips[k].true_start+'</p>'+
                    '<p>station pred_end:'+newtrips[k].pred_end+'</p>'+
                    '<p>station true_end:'+newtrips[k].true_end+'</p>'+
                    "</div>" +
                    "</div>"; 

                    var customLabel = {color: '#000', 
                        fontSize: '12px', 
                        fontWeight: '600',
                        text: newtrips[k].pred_start+"/"+newtrips[k].true_start,
                        //text:"123",
                        className: "map-label"
                    }
                    if(accuracy(newtrips[k].true_start,newtrips[k].true_end,newtrips[k].pred_start,newtrips[k].pred_end)>0.2)
                        markers[k].setIcon(unsafe);
                    else if(accuracy(newtrips[k].true_start,newtrips[k].true_end,newtrips[k].pred_start,newtrips[k].pred_end)<0.06)
                        markers[k].setIcon(safe);
                    else
                        markers[k].setIcon(medium);
                    markers[k].setLabel(customLabel);
                    infowindows[k].setContent(contentString);
                    
                    
                }
            },
            failure: function(err) {console.log("Error");}
        });
        
        curTime=new Date(curTime.getTime()+30*60000);
        
        


        delete newtrips; 
        
           //  your code here
        i++;                    //  increment the counter
        if (i < 480) {           //  if the counter < 10, call
        myLoop();         
        }                   
    }, 3000)}
    
    myLoop();
    

</script>

<script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCfAaayph4R38a34YGkr6CFEBlj88clNhc&callback=initMap&v=weekly"></script>

{% endblock %}

